interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Berlin&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":2950159,"name":"Berlin","latitude":52.52437,"longitude":13.41053,"elevation":74.0,"feature_code":"PPLC","country_code":"DE","admin1_id":2950157,"admin3_id":6547383,"admin4_id":6547539,"timezone":"Europe/Berlin","population":3426354,"postcodes":["10967","13347"],"country_id":2921044,"country":"Germany","admin1":"State
        of Berlin","admin3":"Berlin, Stadt","admin4":"Berlin"},{"id":5083330,"name":"Berlin","latitude":44.46867,"longitude":-71.18508,"elevation":311.0,"feature_code":"PPL","country_code":"US","admin1_id":5090174,"admin2_id":5084973,"admin3_id":5083340,"timezone":"America/New_York","population":9367,"postcodes":["03570"],"country_id":6252001,"country":"United
        States","admin1":"New Hampshire","admin2":"Coos","admin3":"City of Berlin"},{"id":4500771,"name":"Berlin","latitude":39.79123,"longitude":-74.92905,"elevation":50.0,"feature_code":"PPL","country_code":"US","admin1_id":5101760,"admin2_id":4501019,"admin3_id":4500776,"timezone":"America/New_York","population":7590,"postcodes":["08009"],"country_id":6252001,"country":"United
        States","admin1":"New Jersey","admin2":"Camden","admin3":"Borough of Berlin"},{"id":4349706,"name":"Brunswick","latitude":39.31427,"longitude":-77.62777,"eleva[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=52.52437&longitude=13.41053&current=temperature_2m%2Crelative_humidity_2m%2Cdew_point_2m%2Cpressure_msl%2Capparent_temperature%2Cwind_speed_10m%2Cweather_code%2Cprecipitation%2Csnow_depth&daily=uv_index_max&timezone=auto&wind_speed_unit=ms
  response:
    body:
      string: "{\"latitude\":52.52,\"longitude\":13.419998,\"generationtime_ms\":0.15985965728759766,\"utc_offset_seconds\":7200,\"timezone\":\"Europe/Berlin\",\"timezone_abbreviation\":\"GMT+2\",\"elevation\":46.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0C\",\"relative_humidity_2m\":\"%\",\"dew_point_2m\":\"\xB0C\",\"pressure_msl\":\"hPa\",\"apparent_temperature\":\"\xB0C\",\"wind_speed_10m\":\"m/s\",\"weather_code\":\"wmo
        code\",\"precipitation\":\"mm\",\"snow_depth\":\"m\"},\"current\":{\"time\":\"2026-06-27T16:30\",\"interval\":900,\"temperature_2m\":39.2,\"relative_humidity_2m\":23,\"dew_point_2m\":14.3,\"pressure_msl\":1015.5,\"apparent_temperature\":40.7,\"wind_speed_10m\":0.63,\"weather_code\":1,\"precipitation\":0.00,\"snow_depth\":0.00},\"daily_units\":{\"time\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-06-27\",\"2026-06-28\",\"2026-06-29\",\"2026-06-30\",\"2026-07-01\",\"2026-07-02\",\"2026-07-03\"],\"uv_index_max\":[6.95,6.85,4.45,5.95,4.95,6.75,5.10]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Paris&count=10&language=en&format=json
  response:
    body:
      string: "{\"results\":[{\"id\":2988507,\"name\":\"Paris\",\"latitude\":48.85341,\"longitude\":2.3488,\"elevation\":42.0,\"feature_code\":\"PPLC\",\"country_code\":\"FR\",\"admin1_id\":3012874,\"admin2_id\":2968815,\"admin3_id\":2988506,\"admin4_id\":6455259,\"timezone\":\"Europe/Paris\",\"population\":2138551,\"post[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=London&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":2643743,"name":"London","latitude":51.50853,"longitude":-0.12574,"elevation":25.0,"feature_code":"PPLC","country_code":"GB","admin1_id":6269131,"admin2_id":2648110,"timezone":"Europe/London","population":8961989,"country_id":2635167,"country":"United
        Kingdom","admin1":"England","a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=51.50853&longitude=-0.12574&current=temperature_2m%2Crelative_humidity_2m%2Cdew_point_2m%2Cpressure_msl%2Capparent_temperature%2Cwind_speed_10m%2Cweather_code%2Cprecipitation%2Csnow_depth&daily=uv_index_max&timezone=auto&wind_speed_unit=ms
  response:
    body:
      string: "{\"latitude\":51.5,\"longitude\":-0.25,\"generationtime_ms\":0.3942251205444336,\"utc_offset_seconds\":3600,\"t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Tokyo&count=10&language=en&format=json
  response:
    body:
      string: "{\"results\":[{\"id\":1850147,\"name\":\"Tokyo\",\"latitude\":35.6895,\"longitude\":139.69171,\"elevation\":44.0,\"feature_code\":\"PPLC\",\"country_code\":\"JP\",\"admin1_id\":1850144,\"timezone\":\"Asia/Tokyo\",\"population\":9733276,\"country_id\":1861060,\"country\":\"Japan\",\"admin1\":\"Tokyo\"},{\"id[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=New+York&count=10&language=en&format=json
  response:
    body:
      string: "{\"results\":[{\"id\":5128581,\"name\":\"New York\",\"latitude\":40.71427,\"longitude\":-74.00597,\"elevation\":10.0,\"feature_code\":\"PPL\",\"country_code\":\"US\",\"admin1_id\":5128638,\"timezone\":\"America/New_York\",\"population\":8804190,\"postcodes\":[\"10001\",\"10002\",\"10003\",\"10004\",\"100[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Vorkuta&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":1486910,"name":"Vorkuta","latitude":67.50867,"longitude":64.0667,"elevation":174.0,"feature_code":"PPLA2","country_code":"RU","admin1_id":545854,"timezone":"Europe/Moscow","population":80039,"country_id":2017370,"country":"Russia","admin1":"Komi"},{"id":1486911,"name":"Vorkuta","latitude":66.36667,"longitude":70.13333,"elevation":9999.0,"feature_code":"PPL","country_code":"RU","admin1_id":1486462,"timezone":"Asia/Yekaterinburg","country_id":2017370,"country":"Russia","admin1":"Yamalo-Nenets"},{"id":11458852,"name":"Vorkuta
        East","latitude":67.46452,"longitude":64.30689,"elevation":192.0,"feature_code":"AIRF","country_code":"RU","admin1_id":545854,"timezone":"Europe/Moscow","country_id":2017370,"country":"Russia","admin1":"Komi"},{"id":7668560,"name":"Vorkuta
        Airport","latitude":67.4886,"longitude":63.9931,"elevation":175.0,"feature_code":"AIRP","country_code":"RU","admin1_id":545854,"timezone":"Europe/Moscow","country_id":2017370,"country":"Russia","admin1":"Komi"}],"generationtime_ms":0.5682707}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Encoding-Time:
      - 0.005233287811279297 ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Queenstown&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":963516,"name":"Queenstown","latitude":-31.89756,"longitude":26.87533,"elevation":1081.0,"feature_code":"PPLA2","country_code":"ZA","admin1_id":1085593,"admin2_id":8347343,"admin3_id":8347505,"timezone":"Africa/Johannesburg","population":118599,"country_id":953987,"country":"South
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=-45.03023&longitude=168.6627&current=temperature_2m%2Crelative_humidity_2m%2Cdew_point_2m%2Cpressure_msl%2Capparent_temperature%2Cwind_speed_10m%2Cweather_code%2Cprecipitation%2Csnow_depth&daily=uv_index_max&timezone=auto&wind_speed_unit=ms
  response:
    body:
      string: "{\"latitude\":-45.026363,\"longitude\":168.68013,\"generationtime_ms\":0.1590251922607422,\"utc_offset_seconds[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Smolensk&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":491687,"name":"Smolensk","latitude":54.77826,"longitude":32.05088,"elevation":238.0,"feature_code":"PPLA","country_code":"RU","admin1_id":491684,"timezone":"Europe/Moscow","population":330025,"country_id":2017370,"country":"Russia","admin1":"Smolensk
        Oblast"},{"id":1491633,"name[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Moscow&count=10&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":524901,"name":"Moscow","latitude":55.75204,"longitude":37.61781,"elevation":155.0,"feature_code":"PPLC","country_code":"RU","admin1_id":524894,"timezone":"Europe/Moscow","population":10381222,"country_id":2017370,"country":"Russia","admin1":"Moscow"},{"id":5601538,"name":"Moscow","latitud[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Minsk&count=10&language=en&format=json
  response:
    body:
      string: "{\"results\":[{\"id\":625144,\"name\":\"Minsk\",\"latitude\":53.90019,\"longitude\":27.56653,\"elevation\":222.0,\"feature_code\":\"PPLC\",\"country_code\":\"BY\",\"admin1_id\":625143,\"timezone\":\"Europe/Minsk\",\"population\":1742124,\"country_id\":630336,\"country\":\"Belarus\",\"admin1\":\"Minsk
      [...]
[...]
